.lightbox {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .9);
  .lightbox-control {
    font-size: 40px;
    color: #fff;
  }
  .image-container {
    width: 700px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}