body {
  font: 400 16px Helvetica, sans-serif;
  background-color: #fff;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: #0a91cc;
  &:hover {
    color: #0abafc;
  }
}